* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgba(255, 192, 203, 0.247);
}
.container {
	width: 900px;
	height: 600px;
	margin: 0 auto;
	margin-top: 70px;
	background-color: white;
}
.Pastelle-City-first-wrapper {
	list-style: none;
	display: flex;
	padding: 0;
}
.Pastelle-City-second-list {
	list-style: none;
	display: flex;
	list-style: none;
	margin-left: auto;
}
.Pastelle-City-first-link {
	display: flex;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	position: absolute;
	margin-top: 20px;
	margin-left: -560px;
	text-decoration: none;
	align-items: center;
	color: black;
	opacity: 0.6;
}
.Pastelle-City-first-link:hover {
	display: flex;
	position: absolute;
	margin-top: 20px;
	margin-left: -560px;
	text-decoration: none;
	color: black;
	opacity: 1;
	transition: 0.4s all;
}
.Pastelle-City-second-paragraph {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	padding: 0 15px;
	color: black;
	opacity: 0.6;
}
.Pastelle-City-second-paragraph:hover {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	padding: 0 15px;
	color: black;
	opacity: 1;
	transition: 0.4s all;
}
.Pastelle-City-third-list {
	list-style: none;
	position: absolute;
	margin-top: 100px;
	margin-left: 450px;
}
.Pastelle-City-third-heading-and-hr {
	display: flex;
	align-items: center;
}
.Pastelle-City-third-heading {
	width: 250px;
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
	font-size: 45px;
}
.Jerry-Henderson-span {
	font-weight: 700;
}
.Pastelle-City-third-list-hr {
	width: 100px;
	height: 3px;
	margin-top: 70px;
	margin-left: -20px;
	background-color: black;
	border: none;
}
.Pastelle-City-play-img {
	position: absolute;
	margin-top: 35px;
	margin-left: -95px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.774);
	border-radius: 50%;
}

.Pastelle-City-first-span {
	display: flex;
}
.Pastelle-City-fourth-paragraph {
	position: absolute;
	width: 220px;
	height: 120px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 28px;
	margin-top: -110px;
	margin-left: 190px;
}
.Pastelle-City-third-link {
	display: flex;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
	color: black;
	opacity: 0.7;
}
.Pastelle-City-third-link:hover {
	display: flex;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
	color: black;
	opacity: 1;
	transition: 0.4s all;
}
